
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons>
    <ion-title class="text-lg">Fashion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div>
  <div class="bg-white rounded-lg shadow-lg max-w-sm ">
    <img alt="Woman holding shopping bags" class="w-full rounded-t-lg" height="300" src="https://storage.googleapis.com/a1aa/image/8fKqZBAhcdRRaijLNDZ9dmvT9vUuqS7OUl7wI0Jkk9zSyh8JA.jpg" width="400"/>
    <div class="p-4">
     <div class="flex justify-between items-center p-3">
      <div>
       <span class="text-2xl font-bold">
        $24,00
       </span>
       <span class="text-gray-500 line-through ml-2">
        $30,00
       </span>
       <span class="text-red-500 ml-2">
        -20%
       </span>
      </div>
      <div class="flex items-center text-blue-500">
       <i class="far fa-clock">
       </i>
       <span class="ml-1">
        00
       </span>
       <span class="mx-1">
        :
       </span>
       <span>
        36
       </span>
       <span class="mx-1">
        :
       </span>
       <span>
        58
       </span>
      </div>
      <div>
       <i class="far fa-heart text-pink-500">
       </i>
      </div>
     </div>
     <p class="text-gray-700 mt-2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam arcu mauris, scelerisque eu mauris id, pretium pulvinar sapien.
     </p>
     <div class="mt-4">
      <span class="font-bold">
       Variations
      </span>
      <div class="flex mt-2">
       <div class="w-12 h-12 border rounded-lg overflow-hidden mr-2">
        <img alt="Variation 1" class="w-full h-full object-cover" height="50" src="https://storage.googleapis.com/a1aa/image/QikrqZwAOp4CB5K31GNcI6SfNT7MS2lYjhJ9L6DfT1bokD5TA.jpg" width="50"/>
       </div>
       <div class="w-12 h-12 border rounded-lg overflow-hidden mr-2">
        <img alt="Variation 2" class="w-full h-full object-cover" height="50" src="https://storage.googleapis.com/a1aa/image/PVpNnnBXoXZtFleUeYhKh0w5TUozkNMZC77EnTFE73CjkD5TA.jpg" width="50"/>
       </div>
       <div class="w-12 h-12 border rounded-lg overflow-hidden">
        <img alt="Variation 3" class="w-full h-full object-cover" height="50" src="https://storage.googleapis.com/a1aa/image/niyPl2mVWtZAEpfeq7ftyAkyXkE5Svxh1M2809UrS2kPJHynA.jpg" width="50"/>
       </div>
      </div>
     </div>
     <div class="flex mt-4">
      <button  (click)="goToDetails()" class="flex-1 bg-gray-200 text-gray-700 py-2 rounded-lg mr-2">
       Add to cart
      </button>
      <button class="flex-1 bg-blue-500 text-white py-2 rounded-lg">
       Buy now
      </button>
     </div>
    </div>
   </div>
</div> 
</ion-content>
